<div class="container" style="margin-top: 5%;">
    <h1>New Article</h1>
    <%= render 'form', article: @article %>
    <%= link_to 'Back', articles_path, class: "btn btn-primary", style: "color: white"%>    
</div>
