#newArticle {
    position: relative;
    margin-left: 90%;
    margin-bottom: 5%;
    margin-top: 5%;
}

#cardBox {
    
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    width: 32%;
    padding: 3%;
}

#readMore {
    color:#ffffff;
}

.option{
    margin-top: 3%;
    color: #FFFFFF;
}
#title:hover {
    color:green;
    text-decoration:none;
}